/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1400px;
    
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.row {
    flex-direction: row;
    width: 100%;
}

.col {
    justify-content: center;
    flex-direction: column;
}
